
@{
    ViewData["Title"] = "About";
}


<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<table class="table">
    <tr>
        <th>
            BrukerID
        </th>
        <th>
            E-mail
        </th>
        <th>
            Firma
        </th>
        <th>
            Godkjent
        </th>
    </tr>
    @{ 
        
        var ell = ViewData["myuser"];

    }
    
   @foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>
        <td>
           
        </td>
        <td>
            
        </td>
    </tr>
}

</table>
