@{
    ViewData["Title"] = "Home Page";
}



<div class="row align-items-center topspace">
    <div class="col-md-6 order-md-1 text-left text-md-left pr-md-5 ">
        <h1 class="mb-3 bd-text-purple-bright">Digital signering av dokumenter</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        </p>
        <p class="lead mb-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <br />
        <a class="btn btn-primary btn-lg" href="#">Kom i gang</a> <a class="btn btn-primary btn-lg" href="#">Kom i gang</a>
    </div>
    <div class="col-md-6 order-md-1 text-left text-md-left pr-md-5 ">
        <img class="img img-responsive" src="~/images/development.jpg" alt="">
    </div>
</div>
<section class="duplicatable-content topspace">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="jumbotron text-center">
                    <h1 class="mb-3 bd-text-purple-brigh">Hvordan fungerer det?</h1>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="feature feature-icon-large" vht="parent">
                    <div class="">
                        <p><i class="fa fa-user" style=""></i></p>
                    </div>
                    <div class="tekst">
                        <h3>Opprett bruker</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="feature feature-icon-large" vht="parent">
                    <div class="">
                        <p><i class="fa fa-comment" style=""></i></p>
                    </div>
                    <div class="tekst">
                        <h3>Kontakt Dokument Partner</h3>

                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="feature feature-icon-large">
                    <div class="">
                        <p><i class="fa fa-sign-in" style=""></i></p>
                    </div>
                    <div class="tekst">
                        <h3>Logg inn, og signer dine dokumenter</h3>

                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</section>




