@{
    ViewData["Title"] = "Home Page";
}



<div class="row align-items-center topspace">
    <div class="col-md-6 order-md-1 text-left text-md-left pr-md-5 ">
        <h1 class="mb-3 bd-text-purple-bright">Digital signering av dokumenter</h1>
        <p class="lead">
            Vi i Dokumentpartner vil levere en enkel måte for våre kunder å signere kontrakter, samt sende sine egne oppdrag. 
            Dette har vi automatisert for effektivisering av denne prosessen, og nå har du mulighet til å benytte deg av dette.
        </p>

    </div>
    <div class="col-md-6 order-md-1 text-left text-md-left pr-md-5 ">
        <img class="img img-responsive" src="~/images/development.jpg" alt="">
    </div>
</div>
<section class="duplicatable-content topspace">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="jumbotron text-center">
                    <h1 class="mb-3 bd-text-purple-brigh">Hvordan fungerer det?</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="feature feature-icon-large" vht="parent">
                    <div class="">
                        <p><i class="fa fa-user" style=""></i></p>
                    </div>
                    <div class="tekst">
                        <h3>Opprett bruker</h3>

                        <p>Først må du opprette en bruker. Dette starter du ved å trykke på "Logg inn" helt øverst til høyre.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="feature feature-icon-large" vht="parent">
                    <div class="">
                        <p><i class="fa fa-comment" style=""></i></p>
                    </div>
                    <div class="tekst">
                        <h3>Logg inn, og signer dine dokumenter</h3>
                          
                        <p>Nå vil du ha mulighet til å logge inn for å signere kontrakter og sende dine egne oppdrag.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="feature feature-icon-large">
                    <div class="">
                        <p><i class="fa fa-sign-in" style=""></i></p>
                    </div>
                    <div class="tekst">
                        <h3>Kontakt Dokument Partner</h3>

                        <p>Hvis det er noe du lurer på ta gjerne kontakt. For mer informasjon trykk på "Kontakt Oss" helt øverst.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    
    <script>
        var url_string = window.location.href;
        var url = new URL(url_string);
        var unauth = url.searchParams.get("unauth");
        if (unauth == "1") {
            alert("Verifiser bruker");
        }
    </script>
</section>




