@{
    ViewData["Title"] = "Home Page";
}



<div class="row align-items-center topspace">
    <div class="col-md-6 order-md-1 text-left text-md-left pr-md-5 ">
        <h1 class="mb-3 bd-text-purple-bright">Digital signering av dokumenter</h1>
        <p class="lead">
            Dokumentpartner Sign er en webapplikasjon som kan påføre én eller flere elektroniske signaturer på et tekstdokument.

        </p>
        <p class="lead mb-4">
            Den tradisjonelle metoden for å signere et dokument har strengt tatt vært den samme hele tiden. En person skriver sitt navn eller et annet tegn på et dokument for å befeste sin identitet på dokumentet. Sign er en løsning som skal gjøre denne prosessen fullstendig elektronisk.         </p>
        <br />
        <a class="btn btn-primary btn-lg" href="Account/loginForm">Kom i gang</a> <a class="btn btn-primary btn-lg" href="/Home/KontaktOss">Les mer</a>
    </div>
    <div class="col-md-6 order-md-1 text-left text-md-left pr-md-5 ">
        <img class="img img-responsive" src="~/images/development.jpg" alt="">
    </div>
</div>
<section class="duplicatable-content topspace">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="jumbotron text-center">
                    <h1 class="mb-3 bd-text-purple-brigh">Hvordan fungerer det?</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="feature feature-icon-large" vht="parent">
                    <div class="">
                        <p><i class="fas fa-user" style=""></i></p>
                    </div>
                    <div class="tekst">
                        <h3>Opprett bruker</h3>

                        <p>Opprett bruker, oppgi epost, passord og firma. Bekreft ny bruker på epost. DokumentPartner må deretter bekrefte ny bruker  </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="feature feature-icon-large" vht="parent">
                    <div class="">
                        <p><i class="fas fa-plus" style=""></i></p>
                    </div>
                    <div class="tekst">
                        <h3>Opprette signeringsoppdrag</h3>

                        <p>Oppretteren laster opp et dokument som er tiltenkt å signeres på og en gruppe tredjeparter som identifiseres gjennom en e-post. Oppretteren sender e-poster til signatørene for å signere dokumentet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="feature feature-icon-large">
                    <div class="">
                        <p><i class="fas fa-pencil-alt" style=""></i></p>
                    </div>
                    <div class="tekst">
                        <h3>Signering</h3>

                        <p>Trykk direktelink til signeringsoppdraget, les dokumentet. Velg signeringsmetode, enten touch eller digital signatur. Motta ferdig signert dokument på epost.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    
    <script>
        var url_string = window.location.href;
        var url = new URL(url_string);
        var unauth = url.searchParams.get("unauth");
        if (unauth == "1") {
            alert("Verifiser bruker");
        }
    </script>
</section>




