

.flex-container {
    height: auto;
    /*width: 100px;  */ 
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

#dokumentoversikt {
    display: flex;
    justify-content: space-between;
}

.document-container {
    padding: 15px;
    line-height: 1;
    border-bottom: 1px solid #012f53;
}


#transit-status {
    margin-top: 8px;
}


#button-create-signevent-container {
    padding: 15px;
}

#link-learn-more {
    text-decoration: underline;
}

#learn-more {
    text-decoration: underline;
    font-weight: bold;
    margin: 0 0 0 1em;
    color: #012f53;
    background: #eeeeee;
    border-radius: 2em;
}

.document-icon {
    margin: 0;
}

.sign-method-radio-container {
    display: inline;
    margin: 0 1em 0 0;
}

#signevent-confirm {
    color: green;
    font-size: medium;
}