body {

}

.flex-container {
    height: auto;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.inputFields {
    margin-top: 7px;
}
