body {
    background-color: #eee;
}

.header {
    background-color: #FFFFFF !important;
    padding: 30px 0px 30px 0px;
    /*box-shadow: 1px 3px 6px rgba(0, 0, 0, .3);*/
}

.topspace {
    margin-top: 100px;
}
.header-image{
    width:100%;
    background-image:url(../images/development.jpg);
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 15px;
    margin-left: 0;
}

.navbar-link {
    color: #012f53;
}

.logo {
    float: left;
    width: 250px;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    margin: 0px;
}

.jumbotron h1, .jumbotron .h1 {
    font-size: 36px;
}

img {
    margin-top:20px;
}

#transit-status-icon {
    margin: 0 0 0 1em;
}

.btn-primary {
    border-radius: 10px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #012f53;
    font-family: "Raleway", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #012f53;
}

.logo>img{
    height: 70px;
}

.svart {
    background-color: #000;
}

.loggin {
    float: right !important;
}

.dokumenter-full {
    height: 100%;
    width: 79%;
    float: right;
    margin-top: 20px;
}

.dokumentvisning {
    height: 100%;
    width: 95%;
    margin-left: 30px;
    background-color: #012f53;
    overflow: auto;
    border-radius: 5px;
}


.dokument {
    width: 23.4%;
    height: 220px;
    background-color: #FFFFFF;
    margin: 0.8%;
    float: left;
    border-radius: 5px;
    border: 0.5px solid black;
    overflow: hidden;
}

.dokument-forhandvisning {
    width: 200px;
    height: 180px;
    background-color: #fff;
}

.dokument-forhandvisning img {
        max-height: 100%;
}

.dokument-navn {
    width: 100%;
    height: 40px;
    background-color: #e9e9e9;
    padding-top: 5px;
    padding-left: 10px;
    overflow: hidden;
}

a {
    color: black;
}

a img {
        margin-right: 5px;
}


.menydiv {
    width: 20%;
    height: 100%;
    margin-top: 20px;
    margin-left: 0px;
    float: left;
}

.navigation {
    width: 250px;
}

.fa {
    padding-right: 5px;
    font-size: 20px;
}

.mainmenu > li {
    padding-left: 22%;
    margin-right: 40px;
    background-position: 65px 10px;
    background-repeat: no-repeat;
}

.mainmenu > a {

    font-family: "Raleway", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #eee;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    padding-bottom: 40px;
    display: inline-block;
    line-height: 14px;
}

.mainmenu > a:hover {
        text-decoration: none;
}

.mainmenu > a i:first-child {
        color: white;
}

.mainmenu:hover {
    color: #012f53;
}


.mainmenu:last-child {
    color: #012f53;
}

.mainmenu.active a i:last-child, .active:hover a i:last-child {
    color: #003056;
}

.mainmenu.active a i:first-child, .active:hover a i:first-child {
    color: #003056;
}

.mainmenu:hover a i:first-child {
    color: #C5C5C5;
}

.feature-icon-large i {

    height: 104px;
    width: 104px;
    border: 2px solid #012f53;
    border-radius: 50%;
    text-align: center;
    color: #012f53;
    font-size: 40px;
    padding-top: 31px;
    margin-bottom: 32px;
}

.feature i {
    color: #012f53;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tekst{
    padding:15px;
}

/* User Form*/

/* temp CSS, bare for å få oversikt */
#create-sign-request-form {
    display: flex;
    flex-direction: column;
    margin: .5em 0 0 0;
}

#input-upload {
    display: none;
}

#navn-signeringsoppdrag,
#buttons-members{
    border: 0px solid #003050;
    padding: 1.5em 0em;
}
.radio-buttons-signaturetypes {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #e2e2e2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#upload-description {
    border: 1px solid #003050;
    cursor: pointer;
    padding: 1em;
    border-radius: .4em;
}

    #upload-description:hover {
        background: #003050;
        color: white;
    }

#file-upload-form {
    display: flex;
}
#transit-status{
    padding-left: 10px;
    position:relative;
    display:block;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 100%;
    margin: 0 auto 50px;
    padding: 10% 20%;
    display: inline-block;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
    .form input.textfield {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #e2e2e2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    .form input.submitButton {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #012f53;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }
    .form input.submitButton:hover{
        background: #4fb221;
    }
.inputFields {
    margin-top: 7px !important;
}
.green:hover {
    background: #4fb221 !important;
}
.red:hover {
    background: #d12222 !important;
}

