

/* temp CSS, bare for å få oversikt */
#create-sign-request-form {
    display: flex;
    flex-direction: column;
    margin: .5em 0 0 0;
}

#input-upload {
    display: none;
}


#navn-signeringsoppdrag,
#buttons-members,
#radio-buttons-signaturetypes,
#self-sign {
    border: 1px solid #003050;
    padding: 1em;
    margin: .5em;
}

#upload-description {
    border: 1px solid #003050;
    cursor: pointer;
    padding: 1em;
    border-radius: .4em;
}

#upload-description:hover {
    background: #003050;
    color: white;
}

#file-upload-form {
    display: flex;
}

#delete-email-input {
    display: block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: #003050;
}

#container-email-input {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

}
