@model IEnumerable<BachelorMVC.Models.Testbruker>

@{
    Layout = "_signedInLayout";
}

@{
    ViewData["Title"] = "Hovedside for admin";
}
<h2>Velkommen @User.Claims.Where(c => c.Type == "name").FirstOrDefault().Value</h2>


<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<button class="btn btn-default">
    @Html.ActionLink("ListeBrukere", "AdminUserListForm", "Account")
</button>
