@model IEnumerable<BachelorMVC.Models.Bruker>

@{
    Layout = "_adminSignedIn";
}

@{
    ViewData["Title"] = "Hovedside for admin";
}
<h2>Velkommen @User.Claims.Where(c => c.Type == "name").FirstOrDefault().Value</h2>


<h2>@ViewData["Title"].</h2>


<button class="btn btn-default">
    @Html.ActionLink("Liste over ikke godkjente brukere", "AdminUserListForm", "Account")
</button>
<button class="btn btn-default">
    @Html.ActionLink("Alle brukere", "AdminAlleBrukere", "Account")
</button>
