@model IEnumerable<BachelorMVC.Models.Dokumenter>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/css/InnloggetStyle.css">
<link rel="stylesheet" type="text/css" href="~/css/site.css">
<script src="~/js/userform.js"></script>
@{
    Layout = "_signedInLayout";
}

<!-- for each dokument 
lag dokumentboks-->

<!-- sample dokumentboks -->
<section class="document-container">
    <img src="" />
    <span>Last ned</span>
    <select>
        <option value="to-signing">Til signering</option>
        <option value="change-signing">Endre</option>
        <option value="delete-signing">Slett</option>
        <option value="download">Last ned</option>
    </select>
</section>
