@model IEnumerable<BachelorMVC.Models.Signeringsoppdrag>


@{
    Layout = "_userSignedIn";
}

@if (User.Claims.Count() == 0)
{
    <h2>Error</h2>

}
else
{

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="jumbotron text-center">
                <h2>Velkommen @User.Claims.Where(c => c.Type == "name").FirstOrDefault().Value</h2>
            </div>
        </div>
    </div>

}

<!-- for each dokument
lag dokumentboks-->
    @{ var dokumentId = 0; }
    @foreach (var oppdrag in Model)
    {
        <!-- sample dokumentboks -->
        <section class="document-container" >
            <div class="container">
                <div class="row">
                    <div class="col-xs-4"><img src="~/images/document-icon.png" class="document-icon" width="40" height="40" /></div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-md-4 col-md-push-8">

                                <input type="hidden" value='@oppdrag.Dokument.Id' class="hidden-DokumentID">
                                    <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Handlinger
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                    <li><a href="#">Signér</a></li>
                                    <li><a onclick="DeleteSigneringsOppdrag('@oppdrag.Dokument.Id')" style="cursor: pointer">Slett</a></li>
                                    <li><a href="/Home/DownloadLink/@oppdrag.Dokument.Id">Last ned</a></li>
                                    </ul>
                                </div> 
                                </div>
                                <div class="col-md-8 col-md-pull-4">
                                    
                                    <div>@oppdrag.Dokument.Filnavn</div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
           
        </section>
        dokumentId++;
    }






