@model IEnumerable<BachelorMVC.Models.Signeringsoppdrag>


@{
    Layout = "_userSignedIn";
}

@if (User.Claims.Count() == 0)
{
    <h2>Error</h2>

}
else
{

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="jumbotron text-center">
                <h2>Velkommen @User.Claims.Where(c => c.Type == "name").FirstOrDefault().Value</h2>
            </div>
        </div>
    </div>

}

<!-- for each dokument
lag dokumentboks-->

    @foreach (var oppdrag in Model)
    {
        <!-- sample dokumentboks -->
        <section class="document-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">bilde*<img src="" /></div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-md-4 col-md-push-8">
                                <div class="styled-select blue">

                                    <select>
                                        <option value="to-signing">Til signering</option>
                                        <option value="change-signing">Endre</option>
                                        <option value="delete-signing">Slett</option>
                                        <option value="download">Last ned</option>
                                    </select>
                                </div>
                                </div>

                                <div class="col-md-8 col-md-pull-4">
                                    <div>@oppdrag.dokument.filnavn</div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
    }






