
@{
    ViewData["Title"] = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mangler tilgang.</h2>

<div class="form">
    <p>Du har ikke tilgang til å se denne siden. Hvis du ikke er logget inn, vennligst gjør det.</p>
    <p>Om du mener dette er en feil og du skal ha tilgang, ta kontakt med administrator.</p>
</div>
